<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="mb-4 p-6">
    <ion-chip color="primary">TIMING</ion-chip>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Attendance</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Checked in at:</ion-label>
          <ion-text color="success">{{ checkedInTime }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Checked out at:</ion-label>
          <ion-text color="danger">6:12 PM</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-chip color="secondary">TASKS</ion-chip>
    <div class="p-2">
      <ion-list>
        <ion-item *ngFor="let task of tasks">
          <ion-label [ngClass]="{ 'completed-task': task.completed }">
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
          </ion-label>
          <ion-checkbox
            slot="end"
            [(ngModel)]="task.completed"
            (ionChange)="onTaskCompletion(task)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>

   <ion-toast
    [isOpen]="isToastOpen"
    [message]="toastMessage"
    [duration]="toastDuration"
    [color]="toastColor"
    [position]="toastPosition"
    (ionToastDidDismiss)="onToastDismiss()"
  ></ion-toast>
</ion-content>
